*{
    margin: auto;
}
body {
    background-color: blue;
    
}

.sharian {
    background-color: yellowgreen;
    height: 300px;
    width: 200px;
    padding: 50px;
}
.logo {
    padding-left: 70px;
}
.photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: blue 10px solid;
    box-shadow: 5px 2
    
    
    
    
    
    
    
    
    px red;
}
#slogan {
    padding-bottom: 15px;
}
.company {
    color: blue;
    font-size: 20px;
    font-family:monospace ;
}

